.cs-design-311-373 {
  --dark_grey: rgba(64, 64, 64, 1);
  --light_grey: rgba(229, 231, 235, 1);
  --neutral-white_n0: rgba(255, 255, 255, 1);
  --neutral-jet_black_n900: rgba(34, 34, 34, 1);
}

.cs-design-311-373 .card-container:hover .hover-overlay {
  right: 0;
}