@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap);

.cs-design-17-118 {
  --dark_grey: rgba(64, 64, 64, 1);
  --white: rgba(255, 255, 255, 1);
  --dark_blue: rgba(8, 145, 178, 1);
  --primary-font: 'Poppins', sans-serif;
}