.language-selector-wrapper {
  --dark_grey: rgba(64, 64, 64, 1);
  --text_color: rgba(80, 95, 152, 1);
  --text_secondary_color: rgba(93, 105, 112, 1);
}

@media (max-width: 768px) {
  .language-selector-wrapper {
    max-width: 76px;
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .language-selector-wrapper span {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .language-selector-wrapper span {
    font-size: 14px;
  }
}