@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --font-display: var(--font-cinzel);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

@layer utilities {
  .whitespace-pre-wrap {
    white-space: pre-wrap;
  }
}
